
@import "_variables"

.Entries-container
     h3
         text-align: center
         background-color: $teal
         padding: 10px
         margin-bottom: 0px
         font-family: $font-family

.Entry-title
     text-align: center
     padding: 10px
     font-family: $font-family

.Entry-content
     text-align: justify
     padding: 20px
     background-color: $gray
     font-family: $font-family

.Entry-info
     text-align: right
     padding: 10px

.entries-not-found-title
    text-align: center

.Tweet-title
     padding: 10px
     font-family: $font-family

.Tweet-content
     text-align: justify
     padding: 20px
     background-color: $gray
     font-family: $font-family

.Tweet-info
     text-align: right
     padding: 10px

.Tweet-header
     width: 100%

.Twitter-profile-image-container
     height: 80px
     padding: 10px

.Twitter-profile-image
     width: 100%
     height: 100%
     padding: 0

.options-buttons
     text-align: center
